@model Tuple<CentricProject.Models.ProfileDetails, CentricProject.Models.RecognitionModel>
@using Microsoft.AspNet.Identity
@using CentricProject.Models
@using Microsoft.AspNet.Identity.EntityFramework;
@{
    ViewBag.Title = "Profile Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    var currentUser = manager.FindById(User.Identity.GetUserId());
    int userId = currentUser.ProfileDetails.id;
    string name = currentUser.ProfileDetails.prefferedName;
    ApplicationDbContext db = new ApplicationDbContext();
    var recognitions = from u in db.RecognitionModels select u;
    recognitions = recognitions.Where(u => u.recognizedId == userId);
    int count = recognitions.Count(u => u.recognizedId == userId);
    string recs = "recognition";
    if (count != 1)
    {
        recs += "s";
    }


}

<div class="container">
    <br />
    <br />
</div>
<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-offset-6" style="align-content:center;">
                    <div class="row">
                        @Html.DisplayFor(model => model.Item1.prefferedName)
                    </div>
                    <div class="row">
                        <!--This will be the profile image-->
                        <img src="@Url.Action("ProfileImage", "ProfileDetails")" style="width:160px;margin:auto;border-radius:50%;" />
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="col-md-6">
                    <!--This will be the profile details-->
                    <div class="row">
                        <div class="form-group">
                            @Html.Label("Name: ", new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.Item1.firstName) @Html.DisplayFor(model => model.Item1.lastName)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            @Html.Label("Phone Number: ", new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.Item1.phoneNumber)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            @Html.Label("Started Working: ", new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.Item1.hireDate)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            @Html.Label("Business Unit: ", new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.Item1.businessUnit)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            @Html.Label("Position: ", new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.DisplayFor(model => model.Item1.position)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <!--This will be the recs recieved-->
                <h4>@name.ToString(), you have @count @recs</h4>
                @if (count > 0)
                {
                    @Html.Partial("_RecognitionDetails", recognitions.ToList())
                }
            </div>
        </div>
    </div>
</div>

