@using Microsoft.AspNet.Identity
@using CentricProject.Models
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li class="btn-group nav">
            <button type="button" class="btn navbar-btn" style="background-color: white;">
                @if (Html.Action("GetProfileName", "Account").ToString() != null)
                {
                    @Html.ActionLink("Hello " + Html.Action("GetProfileName", "Account").ToString(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                }
                else
                {
                    @Html.ActionLink("Hello ", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })

                }
            </button>
            <button type="button" class="btn navbar-btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>@Html.ActionLink("Edit Profile", "Edit", "Profiles", new { id = User.Identity.GetUserId() })</li>
                <li>@Html.ActionLink("View Profile", "Details", "Profiles", new { id = User.Identity.GetUserId() })</li>
            </ul>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
