@model IEnumerable<CentricProject.Models.RecognitionModel>
@using CentricProject.App_Code;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    GetLeaderBoard getLeaderBoard = new GetLeaderBoard();
}



<div class="container">
    <div class="col-lg-8">
        <h2>Recently Recognized Employees</h2>
        <table class="table">
            @foreach (var item in Model)
            {

                string recognizedName = getLeaderBoard.getName(item.recognizedId);
                string recognizerName = getLeaderBoard.getName(item.recognizerId);
                string coreValue = item.coreValue.ToString();
                string date = item.createDate.ToString("yyyy/MM/dd");

                <tr>
                    <td>
                        <strong>@recognizedName</strong> was recognized by <strong>@recognizerName</strong> for displaying <strong>@coreValue</strong> on @date
                    </td>

                </tr>
            }

        </table>
    </div>
    <div class="col-lg-4">
        @{

            List<int> topLeaders = getLeaderBoard.getFullLeaderList();
            int rank = 0;
        }
        <h2>Recognition Leaderboard</h2>
        <table class="table">
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Recognitions</th>
            </tr>

            @foreach (var item in topLeaders)
            {
                rank++;
                <tr>
                    <td>@rank.ToString()</td>
                    <td>@getLeaderBoard.getName(Convert.ToInt32(item)).ToString()</td>
                    <td>@getLeaderBoard.getRecCount(Convert.ToInt32(item))</td>

                </tr>
            }

        </table>
        <p></p>
    </div>
</div>
<div class="container">
    <div class="col-lg-12">
        <!--Empty div to place the footer at the bottom-->
    </div>
</div>
